.Board {
  --sq-size: calc(100% / 8);
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;

  &.reversed {
    flex-direction: column-reverse;
  }

  @container board-container (orientation: landscape) {
    height: initial;
    height: 100%;
  }
}

.row {
  height: var(--sq-size);
  display: flex;
  flex-direction: row-reverse;

  &.reversed {
    flex-direction: row;
  }
}