.Board {
  --sq-size: calc(100% / 8);
  width: 100%;
  aspect-ratio: 1;
  display: flex;

  &[data-current-player="white"] {
    flex-direction: column-reverse;
  }

  &[data-current-player="black"] {
    flex-direction: column;

    .row {
      flex-direction: row-reverse;
    }
  }

  @container board-container (orientation: landscape) {
    width: initial;
    height: 100%;
  }
}

.row {
  height: var(--sq-size);
  display: flex;
  flex-direction: row;
}