$size: calc(100% - var(--section-padding) *2);

.Board {
  width: $size;
  height: max-content;
  aspect-ratio: 1;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  position: relative;
}

.selectedSquare {
  $size1: 4px;
  $size2: $size1 * -1;
  $spread: 4px;
  $blur: 2px;
  $clr: gold;
  box-shadow:
    $size1 $size1 $spread $blur $clr inset,
    $size2 $size2 $spread $blur $clr inset;
}

@container board-container (orientation: landscape) {
  .Board {
    width: initial;
    height: $size;
  }
}