.NotationBar {
  $size: calc(var(--section-padding) * 2);
  font-size: 10px;
  display: none;

  &[data-direction="v"] {
    width: $size;
    height: 100%;
    flex-direction: column;
  }

  &[data-direction="h"] {
    width: 100%;
    height: $size;
  }

  @media only screen and (min-width: 300px) {
    display: flex;
  }

  @media only screen and (min-width: 600px) {
    font-size: 12px;
  }

  &Item {
    height: 100%;
    width: 100%;
    text-align: center;
    align-content: center;
    color: white;
    background-color: rgb(53, 0, 0);

    &:nth-child(even) {
      background-color: rgb(43, 0, 0);
    }
  }
}