.Square {
  width: var(--sq-size); // defined in Board
  text-align: center;
  align-content: center;
  background-color: rgb(240, 250, 255);
  user-select: none;

  &.dark {
    background-color: rgb(0, 120, 150);
  }

  &[data-highlighted="1"] {
    background-color: orange !important;
  }
}