.BoardFrame {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  @container board-container (orientation: landscape) {
    width: initial;
    height: 100%;
    aspect-ratio: 1;
  }

  @media only screen and (min-width: 300px) {
    // notation bars not display below that width
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
  }
}