.PlayerDisplay {
  font-size: 12px;
  user-select: none;

  @media only screen and (min-width: 400px) {
    font-size: 16px;
  }

  @media only screen and (min-width: 600px) {
    font-size: 32px;
  }

  @media only screen and (min-width: 1000px) {
    font-size: 48px;
  }
}