.App {
  --section-padding: 8px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  section {
    padding: var(--section-padding);
  }
}

.Info {
  color: white;
  text-align: center;
  background-color: rgb(25, 0, 25, 0.65);
}

.BoardContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(220, 220, 220, 0.125);
  container: board-container / size;
}