.App {
  --section-padding: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(220, 220, 220, 0.125);
  background-repeat: no-repeat;

  @media only screen and (min-width: 600px) {
    --section-padding: 10px;
  }

  @media only screen and (orientation: landscape) {
    --section-padding: 12px;
    flex-direction: row;
  }

  section {
    padding: var(--section-padding);
  }
}

.BoardContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  container: board-container / size;
}