.App {
  --section-padding: 12px;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  section {
    padding: var(--section-padding);
  }
}

.BoardContainer {
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  background-color: rgb(220, 220, 220, 0.125);
  container: board-container / size;
}