*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  background-image: url("/background.png");
  background-position: center;
  background-size: cover;
}